<h1>All Articles</h1>

<ul id="articles">
    <% @articles.each do |article| %>
        <li>
            <%= render partial: 'articles/article_link', locals: {:article => article} %>
        </li>
    <% end %>
</ul>
<%= link_to "Create new Article", new_article_path, class: 'new_article'%>